{{#section 'css'}}
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" type="text/css" href="/stylesheets/sb-admin-2.min.css">
{{/section}}

{{#section 'js'}}
<!-- Custom scripts for all pages-->
<script src="/javascript/js/sb-admin-2.min.js"></script>
{{/section}}

<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-light bg-dark topbar">
          <button type="button" onclick="location.href='/'" class="navbar-brand btn btn-outline-dark bg-white btn-lg"><i class="fa fa-backward mr-3" aria-hidden="true"></i>Quay lại</button>
          
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>
        <nav class="navbar navbar-light bg-white topbar mb-4">

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid tab-content" id="v-pills-tabContent">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách sản phẩm yêu thích</h1>
          </div>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Danh mục</th>
                <th scope="col" class="text-center">Sản phẩm</th>
                <th scope="col" class="text-center">Số lượng</th>
                <th scope="col" class="text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td class="text-center">Điện tử</td>
                <td class="text-center">Điện thoại</td>
                <td class="text-center">10</td>
                <td class="text-center">
                  <button type="button" onclick="location.href='#'" class="btn btn-outline-primary mr-2"><i
                      class="far fa-edit mr-2"></i>Chi tiết</button>
                  <button type="button" onclick="location.href='#'" class="btn btn-outline-danger"><i
                      class="far fa-trash-alt mr-2"></i>Xoá</button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>