{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/stylesheets/product_styles.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/product_responsive.css">
{{/section}}

{{#section 'js'}}
<script src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
<script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
<script>
  config = {}
  config.entities_latin = false;
  CKEDITOR.replace('product_info', config);
</script>
{{!-- <script>
  tinymce.init({
    selector: '#product_info'
  });
</script> --}}
<script src="/javascript/js/product_custom.js"></script>
{{/section}}

<!-- Product infomation -->

<div class="container mt-5">

  <form id="post_form" class="row" action="/post_product" method="POST" onsubmit="return check()"
    enctype="multipart/form-data">
    <div class="col-md-4 align-items-center justify-content-center text-center">
      <img id="imgHolder" src="/images/user.svg" alt="" class="img-rounded center-block mb-4" style="width: 350px">
      <label for="img" class="h5">Thêm tối thiểu 3 ảnh cho sản
        phẩm</label>
      <input class="btn btn-danger" type="file" id="img" name="img" multiple></input>
      <div class="h6 reqImg text-danger mt-3"></div>
      {{!-- <label class="file mt-3">
        <input type="file" id="file" multiple>
        <span class="file-custom"></span>
      </label> --}}
    </div>
    <div class="col-md-8 pl-4">
      <div class="form-group">
        <label for="inputProductName" class="d-flex">
          <div>Tên sản phẩm</div>
          <div class="ml-auto reqProductName">required</div>
        </label>
        <input type="text" class="form-control" id="inputProductName" placeholder="Tên sản phẩm" name="name">
      </div>
      <div class="form-group">
        <label for="selectCategory" class="d-flex">
          <div>Danh mục sản phẩm</div>
          <div class="ml-auto reqCategory">required</div>
        </label>
        <select class="form-control" id="selectCategory" name="cat_id">
          {{#each lcCategories}}
          {{#each childcat_name}}
          <option value="{{@index}}-{{../_id}}">{{../name}}-{{name}}</option>
          {{/each}}
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="inputStartPrice" class="d-flex">
          <div>Giá khởi điểm</div>
          <div class="ml-auto reqStartPrice">required</div>
        </label>
        <input type="number" min="0" step="1000" class="form-control" id="inputStartPrice" placeholder="Giá khởi điểm"
          name="start_price">
      </div>
      <div class="form-group">
        <label for="inputPriceStep" class="d-flex">
          <div>Bước giá</div>
          <div class="ml-auto reqStepPrice">required</div>
        </label>
        <input type="number" min="0" step="1000" class="form-control" id="inputPriceStep" placeholder="Bước giá"
          name="step_price">
      </div>
      <div class="form-group">
        <label for="inputPurchasePrice" class="d-flex">
          <div>Giá mua ngay (Nếu có)</div>
          <div class="ml-auto reqPurchasePrice"></div>
        </label>
        <input type="number" min="0" step="1000" class="form-control" id="inputPurchasePrice" placeholder="Giá mua ngay"
          name="purchase_price">
      </div>
      <div class="form-group"><label for="form-group">Tự gia hạn không?</label>
        <div class="form-check pl-5 pt-2">
          <input class="form-check-input" type="radio" name="auto_renew" id="no_renew" value=false checked>
          <label class="form-check-label" for="no_renew">
            Không
          </label>
        </div>
        <div class="form-check pl-5">
          <input class="form-check-input" type="radio" name="auto_renew" id="yes_renew" value=true>
          <label class="form-check-label" for="yes_renew">
            Có
          </label>
        </div>
      </div>
      <label for="product_info">Thông tin sản phẩm</label>
      <textarea id="product_info" name="product_info"></textarea>
      <button class="btn btn-primary mt-4" type="submit">Đăng sản phẩm</button>
  </form>
</div>

</div>